<div class="country__name">{{name}}</div>
<div class="country__content">
    <div class="country__info">
        <p class="country__capital">Capital: {{capital}}</p>
        <p class="country__population">Population: {{population}}</p>
        <ul class="country__list-langue">Languages
            {{#each languages}}
            <li class="country__list-langue-item">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country__flag">
        <img src="{{flag}}" alt="" class="country__flag-img">
    </div>
</div>